.hero_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__content,
.hero__img {
  width: 50%; /* Each will take up 50% of the width */
  box-sizing: border-box; /* Ensure padding and borders are included in the width and height calculations */
}

.hero__content {
  padding-top: 40px;
  padding-right: 20px; /* Added padding to create some space between text and image */
}

.hero__content h2 {
  font-size: 3rem;
  line-height: 65px;
}

.hero__content p {
  margin-top: 40px;
  font-size: 1.1rem;
}

.highlight {
  color: var(--primary-color);
  font-size: 2.5rem;
}

.hero__btns {
  margin-top: 40px;
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.primary__btn, .secondary__btn {
  padding: 0.8rem 1.5rem;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 0.2rem;
  cursor: pointer;
}

.primary__btn {
  background: var(--btn-secondary-bg);
  border: 1px solid var(--btn-primary-bg);
}

.secondary__btn {
  background: var(--btn-primary-bg);
}

.hero__img img {
  width: 100%; /* Ensures the image covers the entire width of its container */
  height: auto; /* Maintains the aspect ratio of the image */
}
